      * {font-family: Arial, Helvetica, sans-serif;}
         .body-background
         {
         background:#F5F5F5;
         background: #F5F5F5;
          height: auto;
          margin-top: 69px;
          padding: 51px 0px;
         }
         .mycontainer
    {
        margin-top:0px;
        width: 100%;
    }
   /*scroll bar up**/
   #return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.class3
{

    overflow: hidden;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
/*scroll-up--bottom***/
   .navbar {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 349px;
    margin-bottom: 0;
    list-style: none;
}
.nav-item
{
    margin:0px 5px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    color: aliceblue;
    font-weight:600;
}
.ml-auto
{
        display: contents;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -100px;
    z-index: 1000;
    display: none;
    float: left;
    text-transform: capitalize;
    min-width: 24rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
   .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.navbar {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 21px 0px 0px 0px;
    margin-left: 271px;
    -ms-flex-align: center;
    align-items: center;
}
.login {
    border: 1.4px solid white;
    padding: 2px 30px;
    border-radius: 7px;
}   
#Brand
{
    color: white;
}
         .banner
         {
         width:100%;
         z-index:1;
         background:url("https://agaramtech.com/wp-content/uploads/2018/10/pink-tiles-gradient-background.jpg");
         }
         /* The Modal (background) */
         .modal {
         display: none; /* Hidden by default */
         position: fixed; /* Stay in place */
         z-index: 1; /* Sit on top */
         padding-top: 100px; /* Location of the box */
         left: 0;
         top: 0;
         width: 100%; /* Full width */
         height: 100%; /* Full height */
         overflow: auto; /* Enable scroll if needed */
         background-color: rgb(0,0,0); /* Fallback color */
         background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
         }
         .hosting-para
         {
         letter-spacing: 1px;
         line-height: 23px;
         font-size: 15px;
         /* font-family: segoe; */
         color: navy;
         }
         /* Modal Content */
         .modal-content 
         {
         background-color: #fefefe;
         margin: auto;
         height: auto;
         padding: 20px;
         border:none;
         width: 80%;
         }
         /* The Close Button */
         .close {
         color: #aaaaaa;
         float: right;
         font-size: 28px;
         font-weight: bold;
         }
         .close:hover,
         .close:focus {
         color: #000;
         text-decoration: none;
         cursor: pointer;
         }
         .card1
         {
         width: 95% !important;
         margin: 0px 28px;
         }
         .card2
         {
         /*position: fixed !important;*/
         padding: 38px;
         }
         .card3
         {
         width:62.5% !important;
         margin-left: 27px;
         margin-top: 24px;
         }
         .card-header
         {
         background: #553AA1;
         color: white;
         }
         .title-text
         {
         font-weight: bold;
         font-size: 23px;
         margin-bottom:0px;
         }
         
         .hover-card
         {
         padding-bottom: 13px !important;
         transition: 0.4s ease; 
         }
         .hover-card:hover
         {
         transform: translateY(-10px) scale(1.02);
         box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
         background: white;
         }
         .hover-card1
         {
         padding-bottom: 13px !important;
         transition: 0.4s ease; 
         box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
         }
         .button {
         background: transparent;
         color: white;
         padding: 15px 20px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 16px;
         margin: 4px 2px;
         cursor: pointer;
         border-radius: 12px;
         width: 100px;
         }
         .button1 {
         color: #808080;
         border: 2px solid #e7e7e7;
         }
         .button:active,
         .button:focus,
         .button:visited {
         outline: none;
         }
         * {
         box-sizing: border-box;
         }
         .row {
         display: -ms-flexbox; /* IE10 */
         display: flex;
         -ms-flex-wrap: wrap; /* IE10 */
         flex-wrap: wrap;
         margin: 0 -16px;
         }
         .col-25 {
         -ms-flex: 25%; /* IE10 */
         flex: 25%;
         }
         .col-50 {
         -ms-flex: 50%; /* IE10 */
         flex: 50%;
         }
         .col-75 {
         -ms-flex: 75%; /* IE10 */
         flex: 75%;
         }
         .col-25,
         .col-50,
         .col-75 {
         padding: 0 16px;
         }
         .container2 {
         background-color: #f2f2f2;
         padding: 5px 20px 15px 20px;
         border: 1px solid lightgrey;
         border-radius: 3px;
         }
         input[type=text] {
          padding-left: 26px;
          border:none;
         }
         label {
         margin-bottom: 10px;
         display: block;
         }
         .icon-container {
         margin-bottom: 20px;
         padding: 7px 0;
         font-size: 24px;
         }
         .btn {
         background-color: #4CAF50;
         color: white;
         padding: 12px;
         margin: 10px 0;
         border: none;
         width: 100%;
         border-radius: 3px;
         cursor: pointer;
         font-size: 17px;
         }
         .btn:hover {
         background-color: #45a049;
         }
         a {
         color: #2196F3;
         }
         hr {
         border: 1px solid lightgrey;
         }
         span.price {
         float: right;
         color: grey;
         }
         /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
         @media (max-width: 800px) {
         .row {
         flex-direction: column-reverse;
         }
         .col-25 {
         margin-bottom: 20px;
         }
         }
         .save_price {
         padding: 5px 0px;
         width: 76px;
         background: red;
         text-align: center;
         margin-left: 27px;
         font-size: 13px;
         color: white;
         border-radius: 5px;
         margin-top: -16px;
         }
         .old_price {
         color: #969696;
         text-decoration: line-through;
         font-size: 14px;
         padding: 0 5px;
         float: right;
         font-weight: 800;
         }
         .custom-control1 {
         position: relative;
         display: inline-block;
         min-height: 1.5rem;
         padding-left: 1.5rem;
         }
         .custom-control-inline1{
         display: -ms-inline-flexbox;
         display: inline-flex;
         margin-right: 1rem;
         }
         .custom-control-input1 {
         position: absolute;
         left: 0;
         z-index: -1;
         width: 1rem;
         height: 1.25rem;
         opacity: 0;
         }
         .custom-control-label1{
         position: relative;
         margin-bottom: 0;
         vertical-align: top;
         }
         .custom-control-label1::before {
         position: absolute;
         top: .25rem;
         left: -1.5rem;
         display: block;
         width: 1rem;
         height: 1rem;
         pointer-events: none;
         content: "";
         background-color: #fff;
         border: #adb5bd solid 1px;
         }
         .custom-control-input1:checked~.custom-control-label1::before {
         color: #fff;
         border-color: #007bff;
         background-color: #007bff;
         }
         .button {
         background: transparent;
         color: white;
         padding: 15px 20px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 16px;
         margin: 4px 2px;
         cursor: pointer;
         border-radius: 12px;
         width: 100px;
         }
         .button1 {
         color: #808080;
         border: 2px solid #e7e7e7;
         }
         .button:active,
         .button:focus,
         .button:visited {
         outline: none;
         }
         table {
         font-family: arial, sans-serif;
         border-collapse: collapse;
         width: 100%;
         }
         td,
         th {
         border: none;
         padding: 15px;
         width: 50%;
         }
         tr:nth-child(even) {
         background-color:white;
         }
         .add-card-price
         {
         font-size:17px;
         font-weight:bold;
         }
         .hosting-price-rate
         {
         font-size:23px;
         font-weight:bold;
         display:inline-block;
         margin: 18px 0px;
         }
         .hosting-price-rate1
         {
         margin:18px 0px ! important;
         }
         .order
         {
         font-size:17px;
         font-weight:bold;  
         }
         #div1,#div2,#div3,#div4
         {
         float:right;
         }
         .btn1,.btn2
         {
         margin-left: -42px;
         height:17px;
         }
         .btn1:after {
         position: absolute;
         top: .25rem;
         left: -1.5rem;
         display: block;
         width: 1rem;
         height: 1rem;
         content: "";
         background: no-repeat 50%/50% 50%;
         }
         .yes
         {
         font-size: 17px;
         display: inline;
         margin-top: 0px;
         margin-left: -37px;
         }
         clearfix:after {
         clear: both;
         content: "";
         display: block;
         height: 0;
         }
         .container {
         font-family: 'Lato', sans-serif;
         width: 1000px;
         margin: 0 auto;
         }
         .wrapper {
         display: table-cell;
         height:266px;
         vertical-align: middle;
         }
         .nav {
         margin-top: 40px;
         }
         .pull-right {
         float: right;
         }
         a, a:active {
         color: #333;
         text-decoration: none;
         }
         a:hover {
         color: #999;
         }
         /* Breadcrups CSS */
         .arrow-steps .step {
         font-size: 14px;
         text-align: center;
         color: #666;
         cursor: default;
         margin: 0 3px;
         padding: 10px 10px 10px 30px;
         min-width: 180px;
         float: left;
         position: relative;
         background-color: #d9e3f7;
         -webkit-user-select: none;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: none; 
         transition: background-color 0.2s ease;
         }
         .arrow-steps .step:after,
         .arrow-steps .step:before {
         content: " ";
         position: absolute;
         top: 0;
         right: -17px;
         width: 0;
         height: 0;
         border-top: 19px solid transparent;
         border-bottom: 17px solid transparent;
         border-left: 17px solid #d9e3f7;	
         z-index: 2;
         transition: border-color 0.2s ease;
         }
         .arrow-steps .step:before {
         right: auto;
         left: 0;
         border-left: 17px solid #fff;	
         z-index: 0;
         }
         .arrow-steps .step:first-child:before {
         border: none;
         }
         .arrow-steps .step:first-child {
         border-top-left-radius: 4px;
         border-bottom-left-radius: 4px;
         }
         .arrow-steps .step span {
         position: relative;
         }
         .arrow-steps .step span:before {
         opacity: 0;
         content: "✔";
         position: absolute;
         top: -2px;
         left: -20px;
         }
         .arrow-steps .step.done span:before {
         opacity: 1;
         -webkit-transition: opacity 0.3s ease 0.5s;
         -moz-transition: opacity 0.3s ease 0.5s;
         -ms-transition: opacity 0.3s ease 0.5s;
         transition: opacity 0.3s ease 0.5s;
         }
         .arrow-steps .step.current {
         color: #fff;
         background-color: #23468c;
         }
         .arrow-steps .step.current:after {
         border-left: 17px solid #23468c;	
         }
         .container1 {
         font-family: 'Lato', sans-serif;
         width: 1000px;
         text-align: center;
         background: none;
         border: none;
         margin-left: 279px;
         /* margin: 0 auto; */
         align-items: center;
         }
.hostings2
{
    margin-top: -142px;
}
#sticky.stick {
  position: fixed;
  top:116px;
  z-index: 10000;
  border-radius: 0 0 0.5em 0.5em;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
    color: #212529;
}
.background-image
{
    position:fixed;
    height:95px;
    width:100%;
    z-index: 1;
    background:#553AA1;
    box-shadow: 5px 5px 6px #e6e3e3;
}
.Blackbtn {
    color: white;
    background: linear-gradient(to left, #6a44ff, #6a3093);
    padding: 12px 28px;
    border-radius: 02px;
    border: none;
    margin-left: 392px;
    display:inline-flex;
    text-align: justify;
    font-weight: 900;
    padding-top: 10px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.24), 0 0 2px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.24), 0 0 2px 0 rgba(0,0,0,.12);
}
.Blackbtn1 {
    color: white;
    background: linear-gradient(to left, #6a3093, #6a44ff);
    padding: 12px 13px 12px 3px;
    border-radius: 02px;
    border: none;
    display: inline-flex;
    text-align: justify;
    font-weight: 900;
    padding-top: 10px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.24), 0 0 2px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.24), 0 0 2px 0 rgba(0,0,0,.12);
}
.arrow11
{
  animation: slide1 1s ease-in-out infinite;
    margin-left: 7px;
    color: white;
    font-size: 20px;
    margin-top: 4px;
    z-index: 1;
}
.arrow12
{
   animation: slide1 1s ease-in-out infinite;
    margin-right: 20px;
    color: white;
    font-size: 20px;
    margin-top: 4px;
    z-index: 1;
}
@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}
