*
{
    padding: 0%;
    margin: 0%;
}
.banner-top
{
    background-image: url("/images/banner-img.jpg");
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.banner_h1
{ 
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 60px;
  letter-spacing: 1px;
  padding-bottom: 12px;
}
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: none;
    border-right: none;
    padding: 5px;
    height: 52px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 58px;
    height: 52px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 438px;
    transform: translate(-50%, -50%);
  }
  .name_prices
{
height: 100px;
width: 100%;
position: relative;
background-color: #3F51B5;
}
.name_and_name
{
    margin: 0% 28px;
}
.name_price_span
{  
    color: black;
    background: yellow;
    padding: 5px 25px;
    border-radius: 10px;
    background: yelow;
    text-align: center;
    display: flex;
    /* position: absolute; */
    margin-top: -14px;
    margin-right: auto;
    margin-left: auto;
}
.doamin_names
{
    margin-top: 9px;
    /* text-align: center; */
    padding-left: 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.idn_search
{
    height: 596px;
    width: 100%;
    padding: 36PX 0PX;
    width: 100%;
    background-color: white;

}
.idn_search_header_h1
{
font-size: 82px;
font-weight: bold;
text-align: center;
padding: 31px 0px;
letter-spacing: 2px;
}
.supported_extensions
{
    padding: 28px 0px;
    font-weight: bold;
    color: blue;
    letter-spacing: 1.3px;
}
    /* The container */
.container2 {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    width: 96px;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container2:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container2 input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container2 input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container2 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .new_domains
  {
    padding: 11px 0px;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }  
  .new_domains_h1
  {
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 46px;
  padding: 17px 0px;  
  }
  .new_domains_btn
{
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 19px;
    font-size: 36px;  
}
.free_ads
{
height: 784px;
padding: 67px 0px;
}
.card_1
{
color: white;
background-image: linear-gradient(to right top, #2d0c8b, #33179f, #3921b4, #3e2cc9, #4136df, #483de9, #4f44f2, #554bfc, #6050fc, #6955fb, #725afb, #7a5ffb);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border: none;
margin: 46px 0px;
}
.cars_pic
{
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: -44px;
    /* height: 90px; */
    margin-left: -18px;
}
.free_ads_h5
{
padding-top: 18px;
text-align: center;
}