body
{
  font-family:Asap;
}
/* dropdown */

.dropbtn {
  
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    margin-top: 12px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {
    background-color: #000000;
    
  }
  .navbar-top1
  {
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(34, 39, 46, 0.15) !important;
    background: white;
  }
  /* emaildown */
  .emailbtn {
    
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .email {
    position: relative;
    display: inline-block;
  }
  
  .email-content {
    margin-top: 12px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 270px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .email-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
  
  .email-content a:hover {background-color: #ddd;}
  
  .email:hover .email-content {display: block;}
  
  .email:hover .emailbtn {
      background-color: #000000;
       }
  /* after base nav */
  .row-style
  {
    
    /* background-image: linear-gradient(147deg, #2c3e50  10%, #343A40 74%); */
    /* padding: 67px 47px 149px 68px; */
    /* width: 100%; */

    height:auto;
    padding-top: 89px;
 
  }
  .content-wd
  {
    width: 150%;
    margin: 0px 0px 0px -100px;
  }
  .containner-width
  {
    max-width: 1300px;
  }
  .card-style{
    margin-left: 55px;
  }
  .card-1{

    margin: 113px 0px;
  }
  .amt-font{
    font-size: 24px;
    color:greenyellow;
  }
.host1{
  background-color: #D0D9E7;
  /* background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%); */
}
.domain{
  background-color:white;
  
}
.com1{
  padding-top: 139px;
  padding-left: 91px;
  text-align: justify;
}
.button-sm
{
  border-radius: 94px;
  /* background-color: greenyellow; */
  background-color:  #007BFF;
  /* background-image: linear-gradient(314deg,  #63a91f 0%,  #1a512e 74%); */
  font-size: -20px;
  border: none;
  color:  #FFFFFF;
  text-align: center;
  padding: 5px;
  width: 121px;
  transition: all 2.5s;
  cursor: pointer;
  margin: 10px;
}
  /* button hover */
  .button {
    border-radius: 50px;
    /* background-color: greenyellow; */
    background-color: #63a91f;
    background-image: linear-gradient(314deg, #63a91f 0%, #1a512e 74%);
    font-size: 15px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 12px;
    width: 170px;
    transition: all 2.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
   content: ' \2192';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  /* enf button hover */
  .footer{
    color:white;
    bottom: 0px;  
    background-color:#051E38 !important;
    height: 50px;   
    padding: 11px;
    /* position: sticky  ; */
    /* position: relative; */
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .nav-back
  {
    /* position: fixed; */
    /* margin-left: 143px; */
    background-color:darkslategray;
    /* background-color:#f3e6e8; */
    /* background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%); */
  }
  .table-mar
  {
    margin-top: 29px;
    margin-left: 239px;
    padding: 53px 23px 0px 0px;
  }
  .card-header01 {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: blue;
    letter-spacing: 1px;
    background-color: rgba(0,0,0,.03);
    border-bottom: none;
}
.table_head
{
background-color: #009bff;
color: #f8f9fa;
}
.search-ds
  {
    margin-left: 82px;
    border-radius: 30px;
  }
  .nav-ds
  {
    color:white;
    margin-left: 40px;
  }
  .fa-clr
  {
    color: white;
  }
  .fa-s{
    margin-top: -31px;
    margin-left: 10px;
  }
  .fa-h
  {
    margin-top: 10px;
  }
  /* side nav start */
  section1 {
    margin-left: 200px;
    width: 70%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
  }
  .navbar1 {
    background-color:#343A40;
    /* background-color:
    #6a93cb;
    
    background-image: linear-gradient(315deg, #6a93cb 0%,
    #a4bfef 74%); */
    /* background-color:#334CD5; */
    
    /* background-image: linear-gradient(315deg,#d5d0e5 0%, #334CD5 74%); */
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    text-align: center;
    margin-bottom: 0px;
    overflow: auto;

  }
  .navbar1, .navbar1 ul {
    padding: 0px;
    margin: 56px 0px 0px 0px;
  }
 
  #navbar_icon1:hover {
    color: white;
  }
  .navbar1 a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
  }
  .navbar1 ul a:hover {
    font-size: 25px;
    color:greenyellow;
  }
  .navbar1 ul {
    list-style: none;
    margin-top: 10vh;
  }
  .navbar1 ul li {
    padding: 15px;
  }
  /* side nav end */
  /* start admin content */
  .common_bg
  { height: 312px;
    background-color: #0061f2;
    background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
  }
  .mysmartCloud_heading
  {
    padding-top: 130px;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    font-weight: 600;
  }
  .card-header1
  {
    font-size: 21px;
    letter-spacing: 1px;
    color: blue;
    border-bottom: none;
  }
    .ad-content
  {
    margin-left: 228px;
    margin-top: -80px;
    margin-right: 30px;
  }
  .ad-content1 {
    margin-left: 228px;
    margin-top: -148px;
    margin-right: 30px;
}
  .card_invoice
  {
    width: 367px;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(34, 39, 46, 0.15);
    overflow: hidden;
  }
  .card_font_icon
  {
  background: blue;
  color: white;
  width: 100px;
  height: 100px;
  padding: 18px;
  /* box-shadow: 0 4px 9px 0 rgba(67,65,79,.1); */
  box-shadow: 0 0.15rem 1.75rem 0 rgba(34, 39, 46, 0.15);
  border-radius: 60px
  }
  .invoice_h2
  {
  font-size: 36px;
  padding-top: 8px;
  font-weight: 600;
  color: #fa0489;
  }
  .card_order
  {
    width: 367px;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(34, 39, 46, 0.15);
    overflow: hidden;
  }
  /* end admin content */
  /* start final ver-nav */
  .nav-vn {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 170px;
    position: fixed;
    height: 100%;
    overflow: auto;
    background: white;
  }
  
  .nav-vn li a {
    display: block;
    color: #22272e;
    letter-spacing:2px;
    padding: 8px 10px;
    text-decoration: none;
  }
  
  .nav-vn li a.active {
    /* background-color: #2F4F4F; */
    color: green;
    padding: 16px 0px 16px 39px;
  }
  .interface
  {
  font-weight: bold;
  color: lightgray;
  }
.side_icon_p
 {
  margin-bottom: 0px;
  margin-top: 5px;
  letter-spacing: 1px;
  }  
  .side_icon_p1
 {
  margin-bottom: 0px;
  letter-spacing: 1.4px;
  position: absolute;
  margin-left: 37px;
  margin-top: 5px;
  }
  .nav-vn li
  {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    padding: 7px 5px;
    margin: 8px 0px !important;
    transition: .4s ease-in;
}
  .nav-vn li:hover
   {
    color: white;
    padding-left: 10px;  
    width: 100%;
    cursor: pointer;
    background-color: rgb(26, 26, 206);
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 9px 0 rgba(67,65,79,.1);
    box-shadow: 0 4px 9px 0 rgba(67,65,79,.1);
    margin: 0;
}
  .nav-con
  {
    /* margin-left:145px; */
    padding:1px 16px;
    height:1000px;
    /* background-color: #e1e1e1; */
      background-color: #E5E7EC;;
  }
  /* enf final nav */
  .host-c
  {
    background-color: white;
    height: 640px;
  }


.foot
{ 
width: 100%;
height: 441px;
background: #17202A;
color: white;
padding-top: 148px;
/* padding: 28px; */
}
.footer_logo
{
height: 162px;
margin-left: -30px;
}
.adderss
{
line-height: 27px;
}
.fb1
{
height: 58px;
float: right;
padding: 0px 5px;
}
.fb
{
height: 53px;
float: right;
padding: 0px 5px;
}
.contact
{

margin-top: 9px;
font-size: 15px;
font-weight: 100;
color: #dfdfdf;
}
.contact1
{
padding: 3px 0;
font-weight: 500;
font-size: 15.5px;
letter-spacing: 0.5px;
}
.service-app
{
font-family: "montserrat-bold", Arial;
font-size: 17px;
font-weight: bold;
color: #fff;
text-transform: uppercase;
margin: 0 0 16px 0;
}
.footer
{ 
height: 62px;
text-align: center;
color:white;
background: black;
padding-top: 3px;

}
  
/********shared*******css*******/
.jumbotron1 {
  padding: 2rem 1rem;
  color: white;
  height: 500px;
  background: linear-gradient(-45deg, rgb(16, 69, 219) 0%, rgb(16, 69, 219) 0%, rgb(21, 9, 94) 60%, rgb(21, 9, 94) 99%, rgb(21, 9, 94) 100%);
  }
  .display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    padding-top: 50px;
}
.shared_pricing
{
background-color: #F8FAFE;
padding: 40px 0px 84px 0px;
}
.shared_card_main_heading_h1
{
text-align: center;
    font-size: 65px;
    letter-spacing: 2px;
    font-weight: 900;
    color: blue;
    padding: 38px 0px;
}
    .card_shared
{
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.04);
  border: none;
}
.img_hosting
{
  margin-left: 23px;
  height: 126px;
}
.shared_cared_title
{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: bold;
}

.color_shared
{
  color: blue;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding: 13px 80px;
  border-radius: 44px;
}