*
{
    padding: 0%;
    margin: 0%;
}
.jumbotron1 {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    background: linear-gradient(-45deg, rgb(16, 69, 219) 0%, rgb(16, 69, 219) 0%, rgb(21, 9, 94) 60%, rgb(21, 9, 94) 99%, rgb(21, 9, 94) 100%);
    }